.wrapper
  width: 100%
  display: flex
  justify-content: center

.article
  width: 55%

.list-item
  display: flex
  justify-content: flex-start
  padding: 5px

.icon-delete
  width: 20px
  height: 20px
  margin-left: 5px
  cursor: pointer
  &:hover
    color: red

.button-main
  width: 30px
  height: 30px
  position: absolute
  top: 5px
  right: 5px
  cursor: pointer
  &:hover
    stroke: red